<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/miembros/foto2.jpg" />
    <ion-card-header>
      <ion-card-title>Joshian Lora Ramirez</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>2020-10441</p>
      <p>202010441@itla.edu.do</p>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/miembros/foto1.jpg" />
    <ion-card-header>
      <ion-card-title>Jenssey Morillo Concepcion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>2021-0044</p>
      <p>20210044@itla.edu.do</p>
      
    </ion-card-content>
  </ion-card>

</ion-content>
