ion-toolbar{
    color: #fff;
    background-color: #ff9d09;
    background: linear-gradient(90deg, #ff9d09 0%, #db8d17 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
}

ion-card{
    text-align: center;
}

.numero{
    color: #ff9d09;
}
